PORT=5000
TRANZUPI_TOKEN=8016bf3fcde9243d47c8f0ae984e3e87
TRANZUPI_BASE_URL=https://tranzupi.com
MONGODB_URI=mongodb+srv://vivekkumar980127_db_user:jCStbVzOMzr3Hvv5@rat.vhuq9ri.mongodb.net/?appName=rat
REDIRECT_URL=https://primepay-frontend.vercel.app/success.html
FRONTEND_URL=https://primepay-frontend.vercel.app/
